@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url(//db.onlinewebfonts.com/c/467526db1f6b8c1f5f3b31f34bb1b8a7?family=Sucrose+Bold+Two);
@font-face {
  font-family: "Sucrose Bold Two";
  src: url("//db.onlinewebfonts.com/t/467526db1f6b8c1f5f3b31f34bb1b8a7.eot");
  src: url("//db.onlinewebfonts.com/t/467526db1f6b8c1f5f3b31f34bb1b8a7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/467526db1f6b8c1f5f3b31f34bb1b8a7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/467526db1f6b8c1f5f3b31f34bb1b8a7.woff") format("woff"), url("//db.onlinewebfonts.com/t/467526db1f6b8c1f5f3b31f34bb1b8a7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/467526db1f6b8c1f5f3b31f34bb1b8a7.svg#Sucrose Bold Two") format("svg");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(225, 209, 209);
}

.index {
  background: url(banner_full.png) 100% no-repeat;
  padding-top: 100%;
  background-position: top;
  background-size: 100% auto;
  font-family: 'Sucrose Bold Two';
  position: relative;
  margin-top: 0;
}
.index img {
  position: absolute;
  right: 0;
  top: 0;
  width: 61.4%;
  height: auto;
}
.index h1 {
  position: fixed;
  font-family: 'Sucrose Bold Two';
  top: 16rem;
  right: 2rem;
  font-size: 12vw;
  line-height: .8;
  margin-top: 0;
  text-align: center;
}

.h1-hide {
  color: rgba(10,10,10,0);
}


.index h1 span {
  display: block;
  font-size: 8.75vw;
}

.index p{
  margin-top: -1000px;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  font-size: 60px;
  z-index: 1;
  position: relative;
  font-family: 'Anton', sans-serif;
}

main {
  margin-top: -900px;
  font-family: 'IM Fell French Canon Pro';
  font-size: 1.4rem;
  line-height: 1.6;
}


.banner {
  background-image: url(beach_test_picture.png);
  background-size: cover;
  background-position: center;
  padding: 140px 0;
  margin-top: 0px;
  height: 600px;
}
.banner h1 {
  font-family: 'Sucrose Bold Two';
  font-size: 12vw;
  text-align: center;
}

.banner p{
  text-align: center;
  font-family: 'Anton', sans-serif;
}

@media (max-width: 750px) {
  .banner {
    height: 200px;
    padding: 70px 0;
  }
  .index p{
    margin-top: -320px;
  }
}
