.barras {
  width:90%;
  margin: 5px;
}
.barra {
  width:90%;
  height:30px;
  background:#CCC;
  margin:10px;
}
.barra-nivel {
  height:30px;
  background:#3e6db5;
  width:1%;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  transition: width 1s ease;
}
.valor-nivel {
  line-height:30px;
  color: rgb(10,10,10);
  font-style: bold;
  margin-left:10px;
  font-size:12px;
}


.class-blue1{
  background: #59929e;
}

.class-blue2{
  background: #28b4d1;
}

.class-blue3{
  background: #00d3ff;
}

.checked {
  color: orange;
}

.checked1 {
  color: orange;
}
.geral {
  font-size: 30px;
}

@media (max-width: 960px) {
  .geral {
    font-size: 20px;
  }
  .checked1{
    font-size: 25px;
  }
  .barras {
    font-size: 30px !important;
  }
}
@media (max-width: 750px) {
  .geral {
    font-size: 18px;
  }
  .checked1{
    font-size: 20px;
  }
  .barras {
    font-size: 20px !important;
  }
}
@media (max-width: 540px) {
  .geral {
    font-size: 15px;
  }
  .checked1{
    font-size: 18px;
  }
  .barras {
    font-size: 10px !important;
  }
  .range{
    font-size: 10px !important;
  }

}
