.non-btn {
  border: none;
  background-color: transparent;
  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  opacity: 1;
  font-size: 35px;
  line-height: normal
}

.btn-go {
  width: 100px;
  margin-left: 15px;
  margin-top: 10px;
}
