
.search{
  width: 100%;
  // z-index: 1;
  position: relative;
}

.searchers{
  position: relative;
}

#filter p{
  font-size: 20px;
  font-family: 'Anton', sans-serif;
}

#box {
  height: 39px;
  box-sizing: content-box;
}

::placeholder {
  font-family: 'Anton', sans-serif;
  color: #61a5c2;
  font-size: 15px;
}

.select2-dropdown {
  background-color: #3a3a3a;
  font-size: 10px;
  font-family: sans-serif;
}

.form-control {
  display: inline;
  border-color: gray;
  font-family: 'Anton', sans-serif;
  color: #61a5c2;
  font-size: 15px;
  width: 200px;
}

.blank {
  font-family: 'Anton', sans-serif;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-style: normal;
    margin-right: 10px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.p-beaches{
  font-size: 30px !important;
  font-family: 'Anton', sans-serif;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  #filter p{
    font-size: 15px;
    font-family: 'Anton', sans-serif;
  }
  .p-beaches{
    font-size: 20px !important;
    font-family: 'Anton', sans-serif;
  }
  .form-control {
    font-size: 10px;
    width: 100px;
  }
  .search-input {
    font-size: 10px;
    width: 100px;
  }
}

@media (max-width: 720px) {
  #filter p{
    font-size: 15px;
    font-family: 'Anton', sans-serif;
  }
  .p-beaches{
    font-size: 15px !important;
    font-family: 'Anton', sans-serif;
  }
  .form-control {
    font-size: 10px;
    width: 100px;
  }
  .search-input {
    font-size: 10px;
    width: 100px;
  }
}
@media (max-width: 540px) {
  #filter p{
    font-size: 10px;
    font-family: 'Anton', sans-serif;
  }
  .p-beaches{
    font-size: 15px !important;
    font-family: 'Anton', sans-serif;
  }
  .form-control {
    padding: 0 !important;
    height: auto !important;
    font-family: 'Anton', sans-serif;
  }
  .search-input {
    font-size: 10px;
    width: 100px;
    ::-moz-placeholder{
      font-size: 8px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 8px;
    }
  }
  .non-btn {
    border: none;
    background-color: transparent;
    height: 38px;
  }
  .non-btn {
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 25px !important;
  }
  .img-map{
    font-size: 25px !important;
  }
  .search-data{
    margin-top: 0 !important;
    height: 100%;

  }
}

