
.search{
  width: 100%;
  // z-index: 1;
  position: relative;
}

.searchers{
  position: relative;
}

#filter p{
  font-size: 20px;
  font-family: 'Anton', sans-serif;
}

#box {
  height: 39px;
  box-sizing: content-box;
}
