<h2>Avaliações</h2>
<% if !@beach.reviews.empty? %>
  <% @beach.reviews.each do |review| %>
    <p><strong><%= review.title %></strong></p>
    <p><%= review.content %></p>
  <% end %>
<% else  %>
  <p><strong>>Essa praia ainda possui avaliações</p>
<% end %>
<%= link_to "Adicionar avaliação", new_beach_review_path%>
