<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="beaches">
        <% @beaches.each do |beach| %>
          <h4><%= beach.name %></h4>
          <p>Latitude: <%= beach.lat %></p>
          <p>Longitude: <%= beach.lng %></p>
          <p>Avaliação geral: <%= beach.overall_rating %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<iframe src="https:waze.com/ul?ll=-22.96102430%2C-43.21455730&navigate=yes&output=svembed"
  width="300" height="400">
</iframe>
