<header>
  <h1>BEACH<span></span>DAY</h1>
  <%= image_tag "banner_hide.png" %>
</header>
<main>
  <div id="app" class="container">
    <% @beaches.each do |beach| %>
      <card data-image="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=">
        <h1 slot="header"><%=beach.name %></h1>
        <p slot="content"><%= beach.overall_rating %></p>
      </card>
    <% end %>
  </div>
</main>
